@charset "utf-8";
body {
  margin: 0 auto;
}

.wrapperHeader {
  height: 60px;
  border-bottom: solid 1px #715ea8;
}

.header {
  position: relative;
  height: 60px;
  width: 1050px;
  margin: 0 auto;
  border-bottom: solid 1px #715ea8;
}

.logo {
  font: normal 48px ArBonnie;
  color: #715ea8;
  width: 220px;
}

.header .logo {
  position: absolute;
  margin-top: 10px;
  height: 48px;
}

.header p, a {
  font: normal 21px Calibri;
  color: #715ea8;
  text-decoration: none;
}

.authorsName {
  width: 180px;
  height: 21px;
  top: -3px;
  left: 350px;
  position: absolute;
}

.quit {
  width: 75px;
  right: 0px;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  border: none;
}

.quit:hover, .addPhotoIcon:hover{
    color: #715ea8;
}

.quit:active, .addPhotoIcon:active{
    color: #fff;
}

.quit:focus, .addPhotoIcon:focus {
  outline:none;
}

.addPhotoIcon {
  position: absolute;
  height: 80%;
  width: 50px;
  top: 6px;
  right: 300px;
  background-image: url(../img/addPhoto.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  border: none;
}

.wrapperContent {
  margin: 0 auto;
  width: 1050px;
  min-height: calc(100vh - 120px);
  border-left: solid 1px #715ea8;
  border-right: solid 1px #715ea8;
  position: relative;
}

.filtr {
  width: 250px;
  font: normal 25px Calibri;
  color: #3e404b;
  left: 10px;
  position: absolute;
}

.filtr input[type="text"], input[type="date"] {
  height: 30px;
  font: normal 17px Calibri;
  margin-top: 3px;
  color: #686972
}


.filtr input[type=submit] {
  padding: 3px 12px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.photo {
  width: 730px;
  height: 250px;
  position: relative;
  left: 260px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.photo h1 {
  font: normal 27px Calibri;
  color: #3e404b;
  position: absolute;
  top: -15px;
}

.photo h3 {
  font: normal 15px Calibri;
  color: #3e404b;
  position: absolute;
  top: -5px;
  right: 5px;
}

.photo p {
  font: normal 21px Calibri;
  color: #3e404b;
  position: absolute;
}

.photoDescription {
  top: 40px;
  left: 10px;
}

.photoTags {
  top: 135px;
  left: 10px;
}

.like {
  height: 30px;
  width: 80px;
  position: absolute;
  left: 5px;
  bottom: 5px;
  background-repeat: no-repeat;
}

.like img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.like p {
  position: absolute;
  bottom: -18px;
  left: 35px;
}

.delete {
  border: none;
  height: 35px;
  width: 30px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete:hover, .edit:hover{
    color: #715ea8;
}
.delete:active, .edit:active{
    color: #fff;
}

.delete:focus, .edit:focus {outline:none;}

.edit {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 50px;
  bottom: 5px;
  background-image: url(../img/edit.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.contentPhoto {
  position: absolute;
  border-top: solid 1px #715ea8;
  border-bottom: solid 1px #715ea8;
  border-right: solid 1px #715ea8;
  width: 480px;
  height: 248px;
  left: 250px;
}

.photoImg img {
  position: absolute;
  height: 250px;
  width: 250px;
  float: left;
}

.morePhotos {
  cursor: pointer;
  text-decoration: none;
  border: dashed 3px #715ea8;
  width: 350px;
  height: 30px;
  border-radius: 100%/20%;
  -webkit-border-radius: 100%/20%;
  font: normal 25px Calibri;
  color: #3e404b;
  padding-left: 15px;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.morePhotos p
{
  margin: 0 auto;
  margin-top: -5px;
}

.morePhotos:hover{
    color: #715ea8;
}

.morePhotos:active{
    color: #fff;
}

.morePhotos:focus {
  outline:none;
}
.wrapperFooter {
  background-color: #715ea8;
}

.footer {
  position: relative;
  height: 60px;
  width: 1050px;
  margin: 0 auto;
  background-color: #715ea8;
}

.footer .logo {
  color: #272628;
  margin: 0 auto;
  height: 48px;
  top: 5px;
  position: absolute;
  left: 5px;
}

.devName {
  margin: 0 auto;
  position: absolute;
  font: normal 18px Calibri;
  color: #272628;
  top: 10px;
  left: 300px;
}

.devEmail {
  position: absolute;
  margin: 0 auto;
  font: normal 25px Calibri;
  color: #272628;
  top: 13px;
  left: 600px;
}

.lastEdit {
  position: absolute;
  font: normal 14px Calibri;
  color: #272628;
  bottom: -10px;
  right: 10px;
  text-align: right;
}

#message {
  position: absolute;
  font: normal 25px Calibri;
  color: #272628;
  margin: 0 auto;
  margin-left: 400px;
  padding-bottom: 30px;
}

#messageError {
  position: absolute;
  font: normal 25px Calibri;
  color: #272628;
  margin: 0 auto;
  margin-left:10px;
  margin-top: 10px;
}

.authorizeForm
{
  font: normal 25px Calibri;
  margin: 0 auto;
  position: absolute;
  margin-left: 350px;
  margin-top: 200px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #b9a6f1;;
}

.formLog {
  margin-left: 40px;
  margin-top: 10px;
}

.authorizeForm input[type="text"]{
  width: 300px;
  height: 30px;
  font: normal 17px Calibri;
  margin-top: 3px;
  color: #686972
}

.authorizeForm input[type=submit] {
  padding: 3px 12px;
  font: normal 17px Calibri;
  width: 50px;
  height: 30px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  margin-left: 180px;
  margin-top: 15px;
}

#descr {
  margin-top: 50px;
}

#tags {
  margin-top: 50px;
}

.photoAdd input[type=submit] {
  padding: 3px 12px;
  font: normal 17px Calibri;
  width: 50px;
  height: 30px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 15px;
}

.photoAdd {
  width: 730px;
  height: 250px;
  position: relative;
  left: 380px;
  padding-top: 60px;
  margin-top: -340px;
}

.dropArea {
  margin-left: 30px;
  padding-top: 90px;
}

.dropArea img {
  width: 250px;
  height: 250px;
}

.dropArea p {
  margin-left: 38px;
  font: normal 21px Calibri;
  color: #3e404b;
}

input[type=file] {
  font: normal 18px Calibri;
  margin-top: 15px;
  margin-left: 30px;
}

.photoAdd h1 {
  font: normal 27px Calibri;
  color: #3e404b;
  position: absolute;
  top: 20px;
}

.photoAdd h3 {
  font: normal 15px Calibri;
  color: #3e404b;
  position: absolute;
  top: 20px;
  right: 70px;
}

.photoAdd p {
  font: normal 21px Calibri;
  color: #3e404b;
  position: absolute;
}

@font-face {
  font-family: "ArBonnie";
  src: url("../fonts/ARBONNIE.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
